<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<add key="Version" value="1.0" />
		<add key="ClusterKey" value="sandbox" />
		<add key="ApplicationKey" value="00000000000000000000000000000000" />
		<add key="SignatureKey" value="11111111111111111111111111111111" />
		<add key="Secure" value="false" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off" />
	</system.web>
	<system.webServer>
		<urlCompression doStaticCompression="false" doDynamicCompression="false" />
	</system.webServer>
</configuration>